WhereToPlay/app/app.iml
WhereToPlay/.idea/libraries/transition_27_0_0.xml
WhereToPlay/.idea/libraries/1_common_1_0_0.xml
WhereToPlay/.idea/libraries/common_1_0_0.xml
WhereToPlay/.idea/libraries/design_27_0_0.xml
WhereToPlay/.idea/*
WhereToPlay/.gradle/*
WhereToPlay/build/*
.idea/
.gradle/
build/
